body,html{
    padding: 0;
    margin: 0;
    background: #0D1528;
    height: 100%;
    color: white;
}

.indexBody{
    overflow: hidden;
}

/* Style for the navigation bar */
.navbar {
    overflow: hidden;
    background-color: #1F2937;
    font-size: larger;
}

  /* Style for the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
}

.selected-link{
    background: #0D1528;
}

.container{
    height: 100%;
    /* Ensure it uses flexbox layout */
    display: flex;
    /* Arrange children side by side */
    flex-direction: row;
}

.leftImage{
    position: relative;

    height: 100%;
    width: 50%;
    
}

.rightText{
    width: 40%;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    flex-direction: column; /* Stack items vertically */
}

.leftImage img{
    width: 50vh;
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%; /* Create a circular shape */
}

/* PROJECTS.HTML*/

/* Style for the grid container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 2 columns */
    grid-template-rows: repeat(1, auto); /* 3 rows */
}

/* Style for each grid item */
.grid-item {
    padding: 10px;
    margin: 10px;
}

.grid-container :hover  {
    background-color: #1F2937;
    border-radius: 10px;
}

/* Style for images */
.grid-item img {
    max-width: 100%;
    height: auto;
}
