body {
  padding: 0px;
  margin: 0px;
  background-color: black;

  -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

@font-face {
  font-family: "RetroFont"; /* Name of your font family */
  src: url("fonts/Monoton-Regular.ttf") format("truetype"); /* Specify the path to your font files */
  /* Add more src lines for other font formats if available */
  /* Additional font properties as needed */
}

.top-bar {
  background-color: #445a65;
  display: flex;
  justify-content: space-between; /* Pushes the divs to opposite ends */
  padding: 10px;
  border-bottom: 2px solid #2df7ed;
}

.left-nav {
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  padding-left: 10px;
}

.right-nav {
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  color: #2df7ed;
  font-weight: 900;
  font-size: 14px;
  padding-right: 10px;
}

.logos{
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  flex-direction: column;
  margin-left: 20px;
  
}

#resume{
    padding-top: 5px;
}

.resume{
    padding-top: 1px;
}


p {
  margin: 0px;
  padding: 0px;
}



.button{
    text-decoration: none;
    font-size: 20px;
    color: #2df7ed;
    font-weight: 900;
    font-family: monospace;
    position: relative; /* Needed for absolute positioning of pseudo-element */
  }
  
  .button::after {
    content: ''; /* Required for pseudo-elements */
    position: absolute; /* Position relative to the anchor tag */
    top: 100%; /* Position underneath the text */
    left: 50%; /* Start from the middle */
    transform: translateX(-50%); /* Center the line horizontally */
    width: 0; /* Initially no width */
    height: 2px; /* Height of the line */
    background-color: #2df7ed; /* Color of the line */
    transition: width 0.3s ease; /* Transition effect for smooth animation */
  }
  
  .button:hover::after {
    width: 100%; /* Extend the line to the right */
    transition: width 0.3s ease; /* Transition effect for smooth animation */
  }
  

button {
  appearance: none;
  border: none;
  background: none;
  outline: none;
  /* Additional styles as needed */
}

.content {
  text-align: center;
}

#section1 {
  background-image: url("images/cloud.jpg");
  background-size: cover; /* Adjusts the background image to cover the entire container */
  background-position: center; /* Centers the background image */
  height: 100vh;
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  flex-direction: column; /* Change the flex direction to column */
}
  

h1 {
  font-size: 100px;
  padding: 0;
  margin: 0;
  color: #2ef8f1;
  font-family: "Monoton";
  font-size: 100px;
  padding-right: 5px;
}
h2 {
  padding: 0;
  margin: 0;
  font-size: 50px;
  color: #cf3890;
  font-family: "Monoton";
  font-size: 40px;
}

#section2 img {
  border-radius: 100%;
  border: 3px solid #2df7ed;
  width: 20%;
}

#section2 {
  background-color: #0F0F0F;
  height: 100vh;
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  flex-direction: column;
  color: white;
}
  

#section2 p{
    font-size: 25px;
    margin-left: 40px;
    padding: 20px 50px;
    text-align: left;
    margin-top: 50px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.574);
    border: 2px solid #2df7ed;
}

#section3{
  background-color: #0F0F0F;
}


/* Style for the grid container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-template-rows: repeat(1, auto); /* 3 rows */
  color: white;
}

/* Style for each grid item */
.grid-item {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Optional: Center-align text as well */
}

/* Style for images */
.grid-item img {
    max-width: 80%;
    height: auto;
}

.project-image {
    width: 161px; /* Set the width as per your requirement */
    height: auto; /* Maintain aspect ratio */
}

#section2 h2{
  padding-bottom: 100px;
}

#section3 h2{
  padding-bottom: 100px;
}

.grid-item h3{
  color:#2df7ed;
}

.grid-item p{
  margin-bottom:5vh;
  font-size: larger;
}